<mat-toolbar color="primary" class="navbar">
  <!-- <button mat-icon-button><mat-icon (mouseover)="opened=!opened">menu</mat-icon></button> -->
  <div>
    <div class="mat-title">Blockbuster Rentals</div>
  </div>
  <div>
    <button mat-icon-button><mat-icon (click)=goHome()>home</mat-icon></button>
    <!-- <button mat-icon-button><mat-icon (click)=goVisual()>bar_chart</mat-icon></button> -->
    <button mat-icon-button><mat-icon (click)=goLogin()>person</mat-icon></button>
  </div>
</mat-toolbar>
