
<!-- <h3>Movie List</h3> -->

<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>Title</b> </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="releaseYear">
      <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>ReleaseYear</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.releaseYear}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>Artist</b> </mat-header-cell>
        <mat-cell *matCellDef="let element"> <ul>
                <li *ngFor="let hero of element.artist">
                  {{ hero }}
                </li>
              </ul> </mat-cell>
      </ng-container>


    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>Director</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.director}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>Rating</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="availableCopies">
        <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>AvailableCopies</b> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.availableCopies}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="totalCopies">
        <mat-header-cell *matHeaderCellDef style="background-color:crimson;"> <b>TotalCopies</b> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalCopies}} </mat-cell>
     </ng-container>




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table> -->

<div class="form-container">
  <form [formGroup]="searchForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <mat-label>Search by</mat-label>
      <mat-select id="searchCategory" formControlName="searchCategory">
        <mat-option *ngFor="let c of searchCategories " [value]="c">
          {{ c }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input formControlName='searchQuery' type='text' matInput placeholder="Search query">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Search</button>

    <button mat-raised-button color="primary" type="reset" (click)='searchForm.reset();loadData()'>Reset fields</button>
  </form>
</div>





      <div fxLayout="row fxLayoutWrap" fxLayout.xs="column fxLayoutWrap" fxLayoutWrap fxLayoutGap="50px" fxLayoutAlign="left"class="col-xs-12
      col-sm-8
      col-md-6
      col-lg-4">
        <mat-card (click)='redirectToDetailedView(movie)' class="card-picture" *ngFor="let movie of dataSource" style="background-color: lightblue;">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%"><b>{{movie.title}}</b><br>
            {{movie.artist}}</span>
          </mat-card-title>
        </mat-card>
      </div>
